*{
    outline:solid 1px rgb(235, 11, 11);
}

.heading{
    text-align:center;
    padding:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

*{
    text-align:center;
    background-color:#8d8d0e;
    color:black;
}

.caption{
    background-color:orangered;
    
}

.home{
    background-color:orangered;
    padding:10px;
}