.eggs{
    background-color:#ffff00;
}

a{
    color:black;
}

.red{
    background-color:#ff0000;
}

h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    padding:10px;
    margin-bottom:8px;
}